*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif
}

.header{
    background: #f8f6f6;
    color:#ffffff


}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: darkred;
    width: fit-content;
    height: fit-content;
}
header span{
    color: #f8dbdb
}

header nav a{
    color:red;
    margin-left: 0px;
    text-decoration: none;
    width: 10px;
    height: 300px;
    padding-left: 7%;
    justify-content: center;
}

.head{
    background: #ff1500;
    color: white;
    text-align: left;
    width: 1500px;
    height: 100px;
}

main aside ul li a{
    color:#f44336; 
}
.navigation{
padding-left: 70%;
width: fit-content;
height: fit-content;

}
h2{
    color:#f44336;
}
.ul{
    width: 40px;
    height: 35px;
}