* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}
#header {
    width: 100%;
    height: 50px;
}
#header #information ul {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: end;
    margin-right: 18%;
    flex-wrap: wrap;
}
#header #information ul li {
    color: red;
    font-size: 12px;
    margin-top: 2%;
}
#header #information ul li a{
    color: red;
}
#header #information ul li a:hover{
    color: #f8dbdb;
}
#header #logo a h3{
    color: darkred;
    float: left;
    margin: 1% 0 0 16%;
    font-size: 25px;
}
#header #logo a span {
    color: #f8dbdb;
}

#heading {
    color: white;
    background-color: red;
    width: 100%;
    height: 100px;
}
#heading h1 {
    margin-left: 16%;
    float: left;
    margin-top: 2%;
    font-size: 30px;
}

.center #left-heading {
    float: left;
    margin-left: 100px;
    position: relative;
    width: 150px;
    height: 20%;
    margin-left: 16%;
    color: darkred;
    margin-top: 1%;
}
.center #left-heading h3 {
    font-size: 20px;
}
.center #left-heading ul {
    list-style: none;
    font-size: 12px;
    margin-top: 2%;
}
.center #left-heading ul li {
    margin: 10% 0 0 0;
}
.center #left-heading ul a{
    color: red;
}
.center #left-heading ul a:hover{
    color: #f8dbdb;
}

.center #center-right {
    margin: 2% 0 0 35%;
    width: 40%;
}
.center #center-right #page-center #button{
    margin: 3% 0 3% 0;
    font-size: 18px;
    font-weight: bolder;
    width: 300px;
}
.center #center-right #page-center p {
    font-size: 12px;
    color: gray;
    line-height: 2;
}
.center #center-right #content h3 {
    color: darkred;
    padding: 2% 0 2% 0;
    font-size: 25px;
}
.center #center-right #content p {
    color: gray;
    font-weight: lighter;
    font-size: 12px;
    line-height: 2;
}
#inner #heading-inner {
    background-color: #f8dbdb;
    width: 100%;
    height: 25%;
    margin-top: 5%;
    display: flex;
}
#inner #heading-inner h3 {
    margin: 2% 0 2% 0;
    color: darkred;
    font-size: 25px;
}
#inner #heading-inner p {
    color: red;
    font-size: 12px;
    line-height: 2;
}
#inner #heading-inner #page-inner {
    width: 15%;
    margin: 2% 0 2% 25%;
}
#inner #heading-inner #page-inner2 {
    width: 10%;
    margin: 2% 5% 2% 5%;
}
#inner #heading-inner #page-inner3 {
    width: 10%;
    margin: 2% 0 2% 0;
}

#inner #copyright ul {
    font-size: 12px;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 1% 0 1% 0;
    list-style: none;
    gap: 10px;
    height: 30px;
    width: 100%;
    color: gray;
}
#inner #copyright ul a {
    color: red;
}
#inner #copyright ul a:hover {
    color: #f8dbdb;
}

@media screen and (max-width:1400px) {
    #header #logo a h3{
        margin-left: 20px;
    }
    #heading h1 {
        margin-left: 20px;
    }
    .center #left-heading{
        margin: 2% 0 0 20px;
    }
    #header #information ul{
        margin-right: 20px;
    }
    #inner #heading-inner {
        height: 15%;
    }
}