html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #959595;
    font: normal 12px/2.0em Sans-Serif;
}

#header {
    margin: 0 auto;
    padding: 0;
    width: 52.5%;
    display: flex;
}

#logo {
    color: #8b0000;
    text-decoration: none;
}

#logo span {
    color: #f8dbdb;
}

#gap-element {
    width: 100%;
}

#top-nav {
    float: right;
    padding: 0px 0 0;
    margin: 0 auto;
    height: 36px;
}

#top-nav ul {
    list-style: none;
    height: 36px;
    padding: 0;
    display: flex;
}

#top-nav li {
    margin: 0;
    padding: 0 0 0 8px;
}

#top-nav ul li a {
    display: block;
    margin: 0;
    padding: 8px 20px;
    color: red;
    text-decoration: none;
}

#top-nav ul li a:hover {
    color:#f8dbdb;
}

#feature {
    width: 100%;
    margin: auto;
    background-color: red;
    padding: 18px 0 18px 0;
}

#feature h1 {
    color: #f8dbdb;
    margin-left: 23.8%;
    font-size: 32px;
}

#content {
    width: 52.5%;
    margin: auto;
    display: flex;
}

#sidebar {
    width: 40%;
    color: darkred;
    padding: 14px 12px;
}

#sidebar ul {
    list-style: none;
    float: left;
    padding: 0;
    margin: -3px 0 0 0;
    display: grid;
    gap: 1px;
}

#sidebar a {
    text-decoration: none;
    color: red;
}

#sidebar ul li a:hover {
    color:#f8dbdb;
    font-weight:bold;
    text-decoration:none;
}

#article {
    padding: 10px 64px;
}

#article a {
    background:#eee;
    border:1px solid #ccc;
    font-size:120%;
    text-decoration:none;
    color:black;
    padding:3px;
}

#article h2 {
    padding-top: 32px;
    color: darkred;
}

#footerblurb {
    width: 100%;
    margin: 0;
    background: #f8dbdb;
    color: red;
    padding: 18px 0 18px 0;
    display: flex;
    justify-content: center;
}

#footerblurb div {
    margin: 0;
    text-align: justify;
    float: left;
    width: 250px;
    padding: 0 24px;
}

#footerblurb h2 {
    color: darkred;
    word-break: break-all;
}

#footer {
    margin: auto;
    padding: 12px;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: red;
}

@media (max-width: 1024px) {
    body {
        font-size: 10px;
    }

    #header {
        width: 100%;
    }

    #top-nav {
        margin: 0;
    }

    #top-nav ul li a {
        padding: 6px 8px;
    }

    #sidebar {
        width: 100%;
    }

    #article {
        padding: 16px;
        word-break: break-all;
    }

    #article a {
        font-size: 100%;
    }

    #feature {
        padding: 14px 0;
    }

    #feature h1 {
        font-size: 24px;
        margin-left: 8px;
    }

    #content {
        padding: 0;
        width: 100%;
    }

    #footerblurb {
        margin: 0;
    }
    
    #footerblurb div {
        text-align: left;
    }

    #footerblurb h2 {
        font-size: 16px;
    }

    #footer {
        width: 90%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 11px;
    }

    #gap-element {
        display: none;
    }

    #top-nav {
        float: left;
    }

    #top-nav li {
        padding: 0;
    }

    #article {
        padding: 12px;
    }

    #feature {
        padding: 16px 0;
    }

    #feature h1 {
        font-size: 20px;
    }

    #footerblurb div {
        padding: 0 10px;
    }

    #footer {
        width: 50%;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 14px;
    }

    #top-nav ul li a {
        font-size: 14px;
    }

    
    #footerblurb div {
        width: 100px;
    }
}